@page
@{
	ViewData["Title"] = "404 Not Found";
}

<h1>Uh oh!</h1>
<h2>
	It looks like we can't find the page requested. The page requested may have been moved or missing, or there could be a typo in the URL.
	<a asp-area="" asp-page="/Index">Go to Home</a>
</h2>